@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import 'variables';

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #888888;
  padding-bottom: 30px;
}

.wideHomeBox{
  max-width: 1080px;
  margin: 0 auto;
}

.narrowHomeBox{
  max-width: 960px;
  margin: 0 auto;
}

header{
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);
  -moz-box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);
  box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);

  .wideHomeBox{
    display: flex;
  }

  .borderKeeper{
    position: absolute;
    width: 100%;
    padding-top: 60px;
    border-bottom: 1px solid #c9c9c9;
  }
}

.logo{
  flex: 1 0;
  max-width: 270px;
}

.menu{
  display: block;
  flex: 1 1;
  margin: 60px 0 0 0;
  padding: 8px 0;
  list-style: none;
  text-align: right;

  li{
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 25px;

    a{
      color: #888888;
      text-decoration: none;
      cursor: pointer;

      &.profileMenuPoint{
        padding: 3px 13px;
        background-color: $highlight-color;
        color: #fff;
      }
    }
  }
}

#homeContainer{
  text-align: center;

  .homeBox{
    margin-top: 70px;
  }
}

.boxTitle{
  margin: 5px 0 54px 0;
  font-size: 38px;
  color: $highlight-color;
}

.workStepContainer{
  background-color: $background-color;
  margin-bottom: 10px;
}
.workStep{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: $workStep-height;
}
.circle{
  width: calc(#{$workStep-height} + 120px);
  height: calc(#{$workStep-height} + 30px);
  border-radius: 50%;
  background-color: #fff;
  margin: 0 15px;
}
.stepContent{
  flex-grow: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: $workStep-height;
  text-align: left;
  margin: 0 15px;
}
.whiteWorkStepContainer{
  background-color: #fff;
  .workStep{
    flex-direction: row-reverse;
  }
  .circle{
    background-color: $background-color;
  }
}

.btn{
  display: inline-block;
  margin-top: 20px;
  padding: 35px 105px;
  border-radius: 25px;
  background-color: $highlight-color;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.functions{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .function{
    flex-basis: calc(33% - 4px);
    padding: 0 2px;
    margin-bottom: 100px;

    &:nth-of-type(2){
      .circle{
        background-color: #b6dfff;
      }
    }
    &:nth-of-type(3){
      .circle{
        background-color: #ffb6a3;
      }
    }
    &:nth-of-type(4){
      .circle{
        background-color: #e2e2e2;
      }
    }
    &:nth-of-type(5){
      .circle{
        background-color: #ffa5f5;
      }
    }
    &:nth-of-type(6){
      .circle{
        background-color: #ffdc92;
      }
    }

    .circle{
      width: 160px;
      height: 160px;
      margin: auto;
      background-color: #888888;
    }
  }
}

.testimonialContainer{
  background-color: $background-color;
  .slick-dots{
    position: relative;
    bottom: 10px;

    li{
      button:before{
        color: #fff;
        font-size: 20px;
      }
      &.slick-active{
        button:before{
          color: $highlight-color;
        }
      }
    }
  }
}


.testimonial{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 65px 90px 55px 90px;
  background-color: #fff;
  .author{
    float: right;
    font-weight: bold;
    margin-right: -30px;
  }
}

.contactBox{
  form{
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    background-color: $background-color;

    .textBox,
    textarea{
      width: 100%;
      margin-bottom: 30px;
      border-radius: 15px;
      border: none;
      padding-left: 30px;
      padding-right: 30px;
    }

    .textBox{
      font-size: 36px;
      line-height: 55px;
      padding-left: 30px;
      padding-right: 30px;
    }

    textarea{
      display: block;
      font-size: 21px;
    }

    .btn{
      margin-bottom: 80px;
      font-size: 20px;
      padding: 40px 80px;
    }
  }
}

.socialBox{
  display: flex;
  flex-flow: row;
  justify-content: center;

  a{
    margin: 20px;
  }
}

.productsBox{
  display: flex;
  flex-direction: row;
  .product{
    padding: 0 20px;
    table{
      width: 100%;
      text-align: left;
      background-color: $background-color;
    }
  }
}
