@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import 'variables';

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #888888;
  padding-bottom: 30px;
}

.wideHomeBox{
  max-width: 1080px;
  margin: 0 auto;
}

.narrowHomeBox{
  max-width: $tablet-breakpoint;
  margin: 0 auto;
}

.componentTitle{
  margin: 25px 0 35px 0;
  font-size: 63px;
  font-weight: bold;
  color: $highlight-color;
}

h3{
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

p{
  margin: 30px 0;
  line-height: 1.2;
}

.circle{
  position: relative;
  width: 370px;
  height: 370px;
  margin: 0 90px 0 0;
  border-radius: 50%;
  background-color: #fff;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.btn{
  display: inline-block;
  margin-top: 20px;
  padding: 25px 115px;
  border-radius: 20px;
  background-color: $highlight-color;
  font-size: 63px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

header{
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);
  -moz-box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);
  box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);

  .wideHomeBox{
    display: flex;
  }

  .borderKeeper{
    position: absolute;
    width: 100%;
    padding-top: 60px;
    border-bottom: 1px solid #c9c9c9;
  }

  .logo{
    flex: 1 0;
    max-width: 270px;
  }
}
.menu{
  display: block;
  flex: 1 1;
  margin: 60px 0 0 0;
  padding: 8px 0;
  list-style: none;
  text-align: right;
  font-size: 18px;

  li{
    display: inline-grid;
    grid-template-columns: auto auto;
    margin-left: 13px;

    a{
      color: #888888;
      text-decoration: none;
      cursor: pointer;

      &.profileMenuPoint{
        padding: 3px 10px;
        background-color: $highlight-color;
        color: #fff;
      }
    }
  }
}

#homeContainer{
  text-align: center;

  .componentContainer{
    margin-top: 90px;
  }
}


.introduceContainer{
  font-size: 30px;

  img{
    width: 100%;
  }
}

.howWorkStepContainer{
  background-color: $background-color;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: lighter;

  &.whiteWorkStepContainer{
    background-color: #fff;
    .howWorkStep{
      flex-direction: row-reverse;
      height: 445px;

      @media screen and (max-width: $tablet-breakpoint) {
        height: auto;
      }
    }
    .circle{
      margin: 0 0 0 90px;
      background-color: $background-color;
      @media screen and (max-width: $tablet-breakpoint) {
        margin-left: 30px;
      }
    }
  }

  .howWorkStep{
    height: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $tablet-breakpoint) {
      height: auto;
      flex-flow: wrap;
      justify-content: space-around;
    }

    .stepContent{
      flex-grow: 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 340px;
      text-align: left;
      margin: 0 15px;
      @media screen and (max-width: $tablet-breakpoint) {
        text-align: center;
      }

      .h3{
        margin-top: 90px;
      }
    }

    .circle{
      min-width: 370px;
      margin-top: -15px;
      @media screen and (max-width: $tablet-breakpoint) {
        margin: 30px 0 0 0;
      }
    }
  }
}

.functionsBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .componentTitle{
    margin-bottom: 15px;
  }

  .function{
    flex-basis: calc(33% - 4px);
    padding: 0 2px;
    margin-top: 100px;

    h3{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 50px;
    }

    .circle{
      position: relative;
    }

    &:nth-of-type(2){
      .circle{
        background-color: #b6dfff;
      }
    }
    &:nth-of-type(3){
      .circle{
        background-color: #ffb6a3;
      }
    }
    &:nth-of-type(4){
      .circle{
        background-color: #e2e2e2;
      }
    }
    &:nth-of-type(5){
      .circle{
        background-color: #ffa5f5;
      }
    }
    &:nth-of-type(6){
      .circle{
        background-color: #ffdc92;
      }
    }

    .circle{
      width: 160px;
      height: 160px;
      margin: auto;
      background-color: #888888;
    }
  }
}

.reviewContainer{
  .componentTitle{
    margin-bottom: 75px;
  }
}

.testimonialsBox{
  position: relative;
  background-color: $background-color;

  .testimonial{
    position: relative;;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 65px 90px 60px 90px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: lighter;

    &:after{
      content:" ";
      position: absolute;
      bottom: -38px;
      left: 7%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 23px 38px 0;
      border-color: transparent #fff transparent transparent;
    }

    .author{
      float: right;
      font-weight: bold;
      margin-right: -30px;
      font-weight: bold;
    }
  }

  .quote{
    position: absolute;
    right: 22%;
    top: -48px;
  }

  .slick-slider{
    padding: 0 65px;
  }

  .slick-dots{
    position: relative;
    bottom: 10px;

    li{
      button:before{
        color: #fff;
        font-size: 16px;
      }
      &.slick-active{
        button:before{
          color: $highlight-color;
        }
      }
    }
  }
}



.contactContainer{
  font-size: 30px;
  font-weight: lighter;

  form{
    width: 100%;
    margin-top: 40px;
    padding: 40px 20px 0 20px;
    background-color: $background-color;

    .textBox,
    textarea{
      width: 100%;
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 15px;
      border: none;
      font-size: 30px;
      font-weight: bold;

      &::placeholder{
        color: #d4d4d4;
      }
    }

    .textBox{
      line-height: 54px;
    }

    textarea{
      display: block;
      padding-top: 20px;
    }

    .btn{
      font-size: 30px;
      text-transform: none;
      margin-bottom: 30px;
      padding: 10px 43px;
    }
  }
}

.socialBoxTitle{
  font-size: 30px;
  font-weight: bold;
  color:#000;
}
.socialBox{
  display: flex;
  flex-flow: row;
  justify-content: center;

  a{
    margin: 20px;
  }
}

.productsBox{
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  flex-flow: wrap;
  justify-content: space-around;

  h4,
  th{
    font-size: 20px;
    font-weight: bold;
  }

  th{
    padding-bottom: 20px;
  }

  .greyBox{
    width: 320px;
    height: 400px;
    background-color: #888;
  }

  .product{
    max-width: 320px;
    padding: 0 20px;
    table{
      width: 100%;
      text-align: left;
      background-color: $background-color;
    }
  }
  .price{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: $highlight-color;
    font-weight: bold;
  }
}
