@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import 'variables';
@import 'hamburger_menu';

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #888888;
  padding: 0 0 30px 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus{
  outline-color: $highlight-color;
 }

.wideHomeBox{
  max-width: 1080px;
  margin: 0 auto;
}

.narrowHomeBox{
  max-width: $tablet-breakpoint;
  margin: 0 auto;
}

.componentTitle{
  margin: 25px 0 35px 0;
  font-size: 44px;
  font-weight: bold;
  color: $highlight-color;
  @media screen and (min-width: $tablet-breakpoint) {
    font-size: 63px;
  }
}

h3{
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  &.title{
    margin-bottom: 20px;
    color: $highlight-color;
  }
}

.capitalize:first-letter{
  text-transform: capitalize;
}

p{
  margin: 30px 0;
  line-height: 1.2;
}

.circle{
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #fff;
  @media screen and (min-width: $tablet-breakpoint) {
    width: 370px;
    height: 370px;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.btn{
  display: inline-block;
  margin-top: 20px;
  padding: 25px 50px;
  border-radius: 20px;
  background-color: $highlight-color;
  font-size: 43px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  @media screen and (min-width: $tablet-breakpoint) {
    padding: 25px 115px;
    font-size: 63px;
  }
}

.formattedTextBox{
  color: #888888;
  font-size: 20px;
  border: 1px solid $highlight-color;
}

.smallBtn{
  font-size: 30px;
  text-transform: none;
  margin-bottom: 30px;
  padding: 10px 43px;
}

header{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 9px 29px -11px rgba(136,136,136,1);

  .wideHomeBox{
    display: flex;
  }

  .borderKeeper{
    position: absolute;
    width: 100%;
    padding-top: 60px;
    border-bottom: 1px solid #c9c9c9;
    background: #fff;
  }

  .logo{
    flex: 1 0;
    max-width: 270px;
    z-index: 99;
    img{
      width: 100%;
    }
  }
}
.menu{
  display: none;
  flex: 1 1;
  margin: 60px 0 0 0;
  padding: 8px 0;
  list-style: none;
  text-align: right;
  font-size: 18px;

  @media screen and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  li{

    a{
      color: #888888;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.profileMenuPoint{
  padding: 3px 10px;
  background-color: $highlight-color;
  color: #fff;
  text-decoration: none;
}

#homeContainer{
  text-align: center;

  .componentContainer{
    margin-top: 90px;
  }
}

#introduceContainer{
  font-size: 30px;

  img{
    width: 100%;
  }
}


.howWorkStepContainer{
  background-color: $background-color;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: lighter;

  &.whiteWorkStepContainer{
    background-color: #fff;
    .howWorkStep{
      flex-direction: row-reverse;
      height: auto;

      @media screen and (min-width: $tablet-breakpoint) {
        height: 445px;
      }
    }
    .circle{
      margin: 0 auto 0 auto;
      background-color: $background-color;
      @media screen and (min-width: $tablet-breakpoint) {
        margin-left: 90px;
        margin: 0 0 0 30px;
      }
    }
  }

  .howWorkStep{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;

    @media screen and (min-width: $tablet-breakpoint) {
      height: 340px;
      flex-flow: inherit;
      justify-content: inherit;
    }

    .stepContent{
      flex-grow: 2;
      display: flex;
      justify-content: center;
      flex-direction: column;
      min-height: 340px;
      text-align: center;
      margin: 0 15px;
      @media screen and (min-width: $tablet-breakpoint) {
        text-align: left;
      }

      .h3{
        margin-top: 90px;
      }
    }

    .circle{
      min-width: 320px;
      margin-top: 30px;
      @media screen and (min-width: $tablet-breakpoint) {
        margin-top: -15px;
        min-width: 370px;
      }
    }
  }
}

.functionsBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .componentTitle{
    margin-bottom: 15px;
  }

  .function{
    flex-basis: calc(33% - 4px);
    padding: 0 2px;
    margin-top: 100px;

    h3{
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 50px;
    }

    .circle{
      position: relative;
    }

    &:nth-of-type(2){
      .circle{
        background-color: #b6dfff;
      }
    }
    &:nth-of-type(3){
      .circle{
        background-color: #ffb6a3;
      }
    }
    &:nth-of-type(4){
      .circle{
        background-color: #e2e2e2;
      }
    }
    &:nth-of-type(5){
      .circle{
        background-color: #ffa5f5;
      }
    }
    &:nth-of-type(6){
      .circle{
        background-color: #ffdc92;
      }
    }

    .circle{
      width: 160px;
      height: 160px;
      margin: auto;
      background-color: #888888;
    }
  }
}

.reviewContainer{
  .componentTitle{
    margin-bottom: 75px;
  }
}

.testimonialsBox{
  position: relative;
  background-color: $background-color;

  .testimonial{
    position: relative;;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    font-weight: lighter;
    @media screen and (min-width: $tablet-breakpoint) {
      padding: 65px 90px 60px 90px;
    }

    &:after{
      content:" ";
      position: absolute;
      bottom: -38px;
      left: 7%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 23px 38px 0;
      border-color: transparent #fff transparent transparent;
    }

    .author{
      float: right;
      font-weight: bold;
      margin-right: 0;
      margin-bottom: 10px;
      font-weight: bold;
      @media screen and (min-width: $tablet-breakpoint) {
        margin-right: -30px;
        margin-bottom: 30px;
      }
    }
  }

  .quote{
    position: absolute;
    right: 9%;
    top: -32px;
    max-width: 50px;
    @media screen and (min-width: $tablet-breakpoint) {
      right: 16%;
      top: -48px;
      max-width: initial;
    }
  }

  .slick-slider{
    padding: 0 65px;
  }

  .slick-dots{
    position: relative;
    bottom: 10px;

    li{
      button:before{
        color: #fff;
        font-size: 16px;
      }
      &.slick-active{
        button:before{
          color: $highlight-color;
        }
      }
    }
  }
}



#contactContainer{
  font-size: 30px;
  font-weight: lighter;

  form{
    width: auto;
    margin-top: 40px;
    padding: 40px 20px 0 20px;
    background-color: $background-color;
    @media screen and (min-width: $tablet-breakpoint) {
      width: 100%;
    }

    .textBox,
    textarea{
      width: 100%;
      margin-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      border: none;
      font-size: 30px;
      font-weight: bold;
      @media screen and (min-width: $tablet-breakpoint) {
        width: 100%;
      }

      &::placeholder{
        color: #d4d4d4;
      }
    }

    .textBox{
      line-height: 54px;
    }

    textarea{
      display: block;
      padding-top: 20px;
    }
  }
}

.socialBoxTitle{
  font-size: 30px;
  font-weight: bold;
  color:#000;
}
.socialBox{
  display: flex;
  flex-flow: row;
  justify-content: center;

  a{
    margin: 20px;
  }
}

.productsBox{
  display: flex;
  flex-direction: row;
  font-weight: lighter;
  flex-flow: wrap;
  justify-content: space-around;

  h4,
  th{
    font-size: 20px;
    font-weight: bold;
  }

  th{
    padding-bottom: 20px;
  }

  .greyBox{
    width: 280px;
    height: 400px;
    background-color: #888;
    @media screen and (min-width: $tablet-breakpoint) {
      width: 320px;
    }
  }

  .product{
    max-width: 320px;
    padding: 0 20px;
    table{
      width: 100%;
      text-align: left;
      background-color: $background-color;
    }
    /* &:first-of-type{
      table{
        margin-left: -10000px;
        padding-left: 10000px;
        padding-right: 10000px;
      }
    } */
  }
  .price{
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: $highlight-color;
    font-weight: bold;
  }
}

#themeSelectorContainer{
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: $tablet-breakpoint) {
    margin-top: 30px;
  }

  .image_picker{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .responsive{
      float: none;
      width: 33%;
      height: auto;

      img{
        width: 100% !important;
        height: 100% !important;

        &.thumbnail:hover{
          box-shadow:0 0 2px 1px $highlight-color;
        }

        &.selected{
          background-color: $highlight-color;
        }

      }
    }
    .selected .checked .icon{
      background: none;
    }
    .clear{
      display: none;
    }

  }
  .btn{
    margin: 30px auto;
  }
}

.ageSelectorModal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  padding: 20px 50px;
  text-align: center;

  .closeModal{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
  }

  h3{
    margin-bottom: 30px;
  }

  .textBox{
    display: block;
    padding: 0 5px;
    line-height: 50px;
    font-weight: bold;

    &::placeholder{
      color: #d4d4d4;
    }
  }
  .stationNumberTextBox{
    width: 50px;
    margin: 0 5px;
    padding: 0 3px;
    text-align: center;
    font-size: 18px;
    border: 1px solid $highlight-color;
    line-height: 25px;
    color: #888;
    font-weight: bold;
  }
}

#mainEditorContainer{
  display: flex;
  flex-grow: 4;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column-reverse;
  margin-top: 30px;
  @media screen and (min-width: $tablet-breakpoint) {
    flex-direction: row;
  }

  #previewContainer{
    flex: 3;
    padding: 0 20px;
    img{
      width: 100%;
    }
  }
}
#toolbarContainer{
  flex-basis: 20%;
  padding: 5px 10px;
  margin-bottom: 30px;
  overflow-y: hidden;
  transition: flex-basis 500ms ease-in-out;
  border-bottom: 1px solid #c9c9c9;
  @media screen and (min-width: $tablet-breakpoint) {
    margin-bottom: 0;
    border-bottom: none;
    border-left: 1px solid #c9c9c9;
  }

  &.close{
    flex-basis: 55px;
  }

  p{
    margin: 0;
  }

  .btnToolbarToggle{
    float: right;
    color: $highlight-color;
    font-size: 30px;
    border: none;
    background: none;
    padding: 0;
    text-align: center;
  }
}

.stationNumberBox{
  margin-top: 10px;

  .ageSelectorModal &{
    display: inline-block;
    margin-left: 5px;
    text-transform: lowercase;
  }

  .formattedTextBox{
    width: 50px;
    padding: 0 3px;
    margin-left: 10px;
  }
}

#toolsContainer{

  h4{
    width: 100%;
    margin-bottom: 20px;
    font-size: 26px;
    margin-top: 0;
  }

  .toolTextbox{
    width:100%;
    padding: 5px;
    color: #888888;
    font-size: 20px;
    border: 1px solid $highlight-color;
  }

  .backToLink{
    display: inline-block;
    margin-top: 7px;
    color: #888888;
    font-size: 12px;font-weight: bold;
    background-color: #ffb6a2;
    padding: 3px 10px;
  }

  .searchBox{
    margin-top: 30px;

    .toolTextbox{
      width: calc(100% - 32px);
    }
    button{
      padding: 5px;
      background-color: $highlight-color;
      border: 1px solid $highlight-color;
      font-size: 18px;
      color: #fff;
    }
  }

  .toolBox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #c9c9c9;

    .toolTextbox{
      margin-bottom: 20px;
    }

    .item{
      width: 100px;
      cursor: pointer;
      padding: 5px;
      text-align: center;

      img{
        width: 100%;
      }
    }
  }
}
